<!-- views/partials/header.ejs -->


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="padding:10px">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home" style="margin-bottom:30px">
      <!-- <img src='images/1.png' style="height:160px;width:120px;padding-top:40px"> -->
      </img>
      </a>
    <li class="nav-item"id="home">
      <a  class="nav-link" href="/home">
          <i class="fas fa-home"></i>
          Home
      </a>
    </li>
    <li class="nav-item" id="logout">
          <a  class="nav-link" href="/logout">
          <i class="fas fa-sign-out-alt" style="padding-left:4px"></i>
            Logout
          </a>
    </li>

</ul>
<!-- <div id="myDIV" class="sidenav" style="padding:0px">
  <a id="home" class="btn" href="/home">Home</a>
  <a id="logout" class="btn" href="/logout" style="position:absolute;bottom:1em;margin-left:1em">Logout</a>
</div> -->
