<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

</head>
<body >
  <div id="wrapper">
  <% include ../partials/header %>
    <div id="content-wrapper" class="d-flex flex-column" style="padding-left:10px; padding-top:15px">
      <h1 class="h2 mb-4 text-gray-800">Home</h1>
      <div class="row" style="padding:15px">
        <h1 class="h4 mb-4 text-gray-800">Add New URL</h1>
        <div class="input-group mb-3" style="margin-right: 15px;">
             <input type="text" id='addNewUrl' name="url" class="form-control" placeholder="Enter URL (http/https format)">
             <div class="input-group-append">
               <button id='add' class="btn btn-success" style="width: 150px">Add</button>
             </div>
        </div>

      </div>
      <h5>Try clicking on the shortened urls</h5>
      <div class="row">
        <%if(list.length>0){%>
        <%for(var i=list.length-1;i>=0;i--){%>

            <div class="col-lg-8" style="margin-bottom:10px">
              <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                         <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary">  <a href=<%=list[i].url%> target="_blank"><%=list[i].shortened%></a></div>
                            <div class="h6 mb-1 font-weight-bold "><%=list[i].url%></div>
                         </div>
                      </div>
                  </div>
              </div>
            </div>

        <%}%>
        <%}else{%>
          <div class="col-lg-8" style="margin-bottom:10px">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                       <div class="col mr-2">
                          <div class="text-lg font-weight-bold text-primary text-uppercase ">No URLs found</div>

                       </div>
                    </div>
                </div>
            </div>
          </div>
          <%}%>
      </div>

      <br/>

  </div>
<footer>
<% include ../partials/footer %>
</footer>

<script>
$(document).ready(function(){
  $("li").each(function(){
    var name = $(this).attr("id");
    console.log(name);
    if(name=="home")
    $(this).addClass("active");
    else {
      $(this).removeClass("active")
    }
  })

})
$('#add').click(function(){
  var getURL=$('#addNewUrl').val()
  var url={
    url:getURL
  }
  $.ajax({
    type:"PUT",
    url:"/api/addnew/",
    headers:{"Content-Type":"application/json"},
    data:JSON.stringify(url),
    success:function(data){
      if(data==='Invalid URL')
      alert(data)
      else
      location.reload()
    }
  })
})
</script>

</body>

</html>
